<div class='general-block'>
  <div class='input-block' *ngIf="!changeBlocks && !isLodaing">
    <button class="back-btn" (click)="onBack()">{{ translation.staticText['BACK_BTN'] }}</button>
    <form [formGroup]="inputForm" (ngSubmit)="onGetWeather(inputCity)">
      <p>{{ translation.staticText['FORM_TITLE']}}</p>
      <input
        type="text"
        #inputCity
        formControlName="weatherInput">
        <span *ngIf="!inputForm.get('weatherInput').valid && inputForm.get('weatherInput').touched">{{ translation.staticText['INVALID_DATA'] }}</span>
      <button
        class="block-btn"
        type="submit"
        [disabled]="!inputForm.get('weatherInput').valid">{{ translation.staticText['SEARCH_BTN'] }}</button>
    </form>
  </div>
  <app-weather *ngIf="changeBlocks && !isLodaing" [weatherInfo]="weatherInfo"></app-weather>
  <p *ngIf="isLodaing && !error">{{ translation.staticText['LOADING'] }}</p>
  <div *ngIf="error">
    <h2 style="text-align: center;">{{ translation.staticText["ERROR"] }}</h2>
    <p>{{ error }}</p>
    <button class="block-btn" (click)="onHandleError()">{{ translation.staticText['OKAY'] }}</button>
  </div>
</div>
<button class="block-btn clear-btn" (click)="onClear()" *ngIf="changeBlocks">{{ translation.staticText['CLEAR'] }}</button>
