.general-block{
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  margin: auto;
  padding-bottom: 25px;
  border-radius: 5px;
  border: 5px solid darkturquoise;
  font-size: 30px;
  width: 50%;

  p {
    text-align: left;
    color: white;
    margin: 15px;
    font-size: 3vw;
  }

  input{
    width: 60%;
    padding: 12px 20px;
    margin: 10px 20%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
  }

  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }

}

.block-btn{
  width: 60%;
  padding: 12px 20px;
  margin: 15px 20%;
  font-size: 2vw;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}
